<!DOCTYPE <html>

<h1>Upload Image</h1>

<form action="/url" method="post" enctype="multipart/form-data">
<br>
<span Style="font-size : 13pt">Please select</span>
    <select name="type" Style="font-size : 10pt">
        <option value="712">712</option>     
        <option value="8A">8A</option> 
        <option value="Property Card">Property Card</option>                                         
    </select>
    <br>
    <br>
    
    <label>Select image...</label><input type="file" name="image" >
    <br>
    <br>
    
    
    <button type="submit" class="btn btn-primary">Upload</button>

</form>