<!DOCTYPE <html>
<h2>Download Blur image</h2>
<a download='Blur.jpg' href = "{{path}}"><input type="button" value="Blur PDF"></a>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >District :-{{owner[0]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >City Survey Office :-{{owner[1]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >Ward :- {{owner[2]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >Sheet no :-{{owner[3]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >City Survey Number :-{{owner[4]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >FP Number :-{{owner[5]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >TP Number :-{{owner[6]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="2" cols="80" >Area :-{{owner[7]}}</textarea>
<br>
<br>
<textarea id="w3review" name="w3review" rows="5" cols="80" >Owner :-{{owner[8]}}</textarea>
<br>
<br>
<form action="/reload" method="post">
    <input type="text" style = "visibility: hidden" name="path" value = "{{path}}">
    <br>
    <button type="submit" >Back</button>

</form>



