<!DOCTYPE html>
<html>

<head>
    <title>SS
    </title>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js">
    </script>
    <style>
        #photo {
            border: 4px solid green;
            padding: 4px;
        }
    </style>
</head>

<body>
    <div id="photo">
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADP5axSFIf69KNsCzDZcve394FUWnjv7s&callback=initMap&v=weekly"></script>
        <script>var map; var src = 'http://127.0.0.1:3000/static/plot.kml';
            /*** Initializes the map and calls the function that creates polylines.*/
            function initialize() {
                map = new google.maps.Map(document.getElementById('map_canvas'),
                    { zoom: -3, mapTypeId: google.maps.MapTypeId.HYBRID });
                loadKmlLayer(src, map);
            } function loadKmlLayer(src, map) { var kmlLayer = new google.maps.KmlLayer(src, { suppressInfoWindows: true, preserveViewport: false, map: map }); google.maps.event.addListener(kmlLayer, 'click', function (event) { var content = event.featureData.infoWindowHtml; var testimonial = document.getElementById('capture'); testimonial.innerHTML = content; }); } google.maps.event.addDomListener(window, 'load', initialize);</script>

        <button onclick="takeshot()">
            Take Screenshot
        </button>
    </div>
    <span class="input-group-addon" Style="font-size : 12pt">Download Image :</span>
    <a download="Naksha" href='{{path_jpg}}' title='Download Image '><input type="button" value="Download"></a>
    <p>{{output}}</p>
    <div id="output"></div>
    <script type="text/javascript">
        // Define the function
        // to screenshot the div
        function takeshot() {
            let div =
                document.getElementById('photo');
            // Use the html2canvas
            // function to take a screenshot
            // and append it
            // to the output div
            html2canvas(div).then(
                function (canvas) {
                    document
                        .getElementById('output')
                        .appendChild(canvas);
                })
        }
    </script>
</body>

</html>