<!DOCTYPE <html>
   
<form action="/url" method="post">
    <br>
    <br>
    <span class="input-group-addon" Style="font-size : 13pt">Please select</span>
        <select name="type" class="selectpicker form-control" Style="font-size : 12pt">
            <option value="Desktop">Desktop</option>     
            <option value="Mobile">Mobile</option>                                         
        </select>
        <br>
        <br>
        <span class="input-group-addon" Style="font-size : 12pt">Enter url</span>
            <input type="text" placeholder="Enter your url" required="" name="url">
    <input type="submit" value = "submit">
</form>